body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.signin-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: auto;
}

#signin-form h1 {
    text-align: center;
    margin-bottom: 20px;
}

#signin-form label {
    display: inline-block;
    margin-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
}

#signin-form input {
    width: 95%;
    font-size: larger;
    padding: 10px;
    margin-top: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#signin-form button {
    width: 100%;
    padding: 12px;
    background:green;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 700;                   
}

#signin-form button:hover {
    background:rgb(14, 160, 19);
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}